/* Light - Dark  */
.theme-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
  width: 40px;
  height: 40px;
  

  color: var(--text);
  font-size: 20px;
  
  transition: color 0.3s ease, opacity 0.2s;
}

.theme-btn:hover {
  opacity: 0.7;
}

.theme-btn i {
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.3s;
}

:root.light .theme-btn .fa-sun {
  opacity: 0;
  transform: rotate(90deg) scale(0.5);
}

:root.light .theme-btn .fa-moon {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

:root.dark .theme-btn .fa-sun {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

:root.dark .theme-btn .fa-moon {
  opacity: 0;
  transform: rotate(-90deg) scale(0.5);
}